<div *sendTemplate="'button'; sendOn: button$">This was sent by a button click!</div>
<div *sendTemplate="'buttonMulti'; sendOn: buttonMulti$">This was sent after multiple button clicks!</div>

<h5>Clicking once</h5>
<button (click)="sendButton()">Click Once</button>
<div *receiveTemplate="'button'">Waiting for the button click ...</div>

<h5>Clicking multiple times</h5>
<button (click)="sendButtonMulti()">Click multiple times</button>
<div *receiveTemplate="'buttonMulti'; pipe: skipTimes(3)">Waiting for 3 button clicks ...</div>
