<h1>ngx-send-templates -- Demo / Usage</h1>
<div>
  <h2>Basics <a [href]="urlFor('basics')">Source on GitHub</a></h2>
  <app-basics></app-basics>
</div>
<h2>Usage of Observables</h2>
<div>
  <h2>Triggered by observables <a [href]="urlFor('observables')">Source on GitHub</a></h2>
  <app-observables></app-observables>
</div>
<div>
  <h2>Piping on the receiving end <a [href]="urlFor('piping')">Source on GitHub</a></h2>
  <app-piping></app-piping>
</div>
<div>
  <h2>Advantage of BehaviourSubjects <a [href]="urlFor('late-init')">Source on GitHub</a></h2>
  <app-late-init></app-late-init>
</div>
<h2>Examples</h2>
<div>
  <h2>Stepper <a [href]="urlFor('stepper')">Source on GitHub</a></h2>
  <app-stepper></app-stepper>
</div>
<div>
  <h2>Buttons <a [href]="urlFor('buttons')">Source on GitHub</a></h2>
  <app-buttons></app-buttons>
</div>

<div>
  <h2>Confirm adding a template <a [href]="urlFor('confirm')">Source on GitHub</a></h2>
  <app-confirm></app-confirm>
</div>
<a href="https://github.com/JanMalch/ngx-send-templates">GitHub</a>&nbsp;&nbsp;
<a href="https://npmjs.com/package/ngx-send-templates">npm</a>
